body {
  background: linear-gradient(
    92.23deg,
    #01071b 21.43%,

    #010f2c 50.63%,
    #190123 100%,
    #23042f 50.63%,

    #2d022c 117.04%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite, spinAnimation 1s linear 1; /* Set animation iteration count to 1 */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  background: linear-gradient(
    92.23deg,
    #dd4ad5 21.43%,
    #9c2cc7 50.63%,
    #318db8 100%,
    #2440a5 117.04%,
    rgb(61, 5, 101)
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}
.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
