body {
  background: linear-gradient(
    92.23deg,
    #010925 21.43%,

    #01143a 50.63%,
    #21012f 100%,
    #2b033b 50.63%,

    #2d022c 117.04%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite, spinAnimation 1s linear 1; /* Set animation iteration count to 1 */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  background: linear-gradient(92.23deg, #2c57f1 117.04%, rgb(61, 5, 101));
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  color: white;
}

.btn:hover {
  background: linear-gradient(92.23deg, #0534df 21.43%, #0a18da 50.63%);
}
.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    /* #406aff 21.43%,
    #b936ee 100%,
    #ff56f6 117.04% */ #0534df 21.43%,
    #0a18da 50.63%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
